:root {
  --primary: #ff0000;
  --secondary: #e2e2e2;
  --text-color: #FFF;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
  --button: #ff8c00;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* respeitar margens do elemento pai */
}

/* ------------ Fixed Buttons ---------------*/

.fixed-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.social-button, .whatsapp-button {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  line-height: 40px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.facebook {
  background-color: #3b5998;
}

.instagram {
  background-color: #e4405f;
}

.whatsapp-button {
  background-color: #25d366;
}

.social-button:hover, .whatsapp-button:hover {
  background-color: #333;
}

.social-button i, .whatsapp-button i {
  margin: 0;
}


/* ---------------  Header   --------------- */

header {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../img/header-bg.jpg');
  background-position: center;
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

.header-container h3 {
  font-size: 3em;
  color: var(--primary);
}

.header-container p {
  color: var(--text-color);
  font-size: 1.2em;
}

.menu-toggle {
  display: none;
}

.menu.open {
  display: block;
}

nav {
  height: 20%;
  width: 70%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}

/* ---------------  images content   --------------- */

.movel-content {
  width: 100%;
  height: 300px;
  background-color: var(--secondary);
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: center;
}

.movel-content:nth-child(2n) {
  flex-direction: row-reverse;
}

.marg-content {
  width: 7%;
}

.text-content {
  display: flex;
  width: 50%;
  height: 250px;
  flex-direction: column;
  align-items: center;
}

.text-content h3 {
  text-transform: uppercase;
  margin-bottom: 1.2em;
  font-size: 2em;
}

.text-content p {
  line-height: 1.5em;
  text-align: justify;
}

.img-content {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.img-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.3s;
}

.img-content img:hover {
  width: 250px;
  height: 250px;
}


/* gallery */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary);
  padding: 20px;
  text-align: center;
}

.gallery-images-cozinha,
.gallery-images-sala,
.gallery-images-banheiro,
.gallery-images-divisorias,
.gallery-images-closets,
.gallery-images-empresarial {
  max-width: 100%;
  max-height: 90vh;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
  padding: 0 4px;
  line-height: 20px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.prev:hover, .next:hover, .close:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* --------------- about section ------------- */

#sobre {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../img/about-bg.jpg');
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  width: 50%;
  color: var(--text-color);
  line-height: 1.5em;
  text-align: justify;
  padding: 25px;
}

#address {
  width: 30%;
  display: flex;
  justify-content: end;
}

#address i {
    color: var(--primary);
    font-size: 4em;
    margin-right: 0.5em;
}

#address-detail {
    text-align: center;
    font-size: 1.3em;
}

#address-detail p {
  color: var(--text-color);
}

/* -----------------  benefits  ------------------- */

#key-benefits {
  background-color: var(--secondary);
  padding-bottom: 4em;
}

#key-benefits h2 {
  text-align: center;
  padding: 3em;
  font-weight: bold;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  width: 85%;
  margin: 0 auto;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
  min-width: 250px;
}

.benefit .benefit-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1 {
  background-image: url('../img/benefits/sqr-1.jpg');
}

#benefit-2 {
  background-image: url('../img/benefits/sqr-2.jpg');
}

#benefit-3 {
  background-image: url('../img/benefits/sqr-3.jpg');
}

#benefit-4 {
  background-image: url('../img/benefits/sqr-4.jpg');
}

/* --------------- contat ----------------*/

#contato{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../img/contact-bg.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

#contato form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

#contato form input,
#contato form textarea {
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#contato form textarea {
  height: 120px;
}

#contato form input[type=button] {
  background-color: var(--button);
  color: var(--text-color);
  font-size: 1.3em;
  width: 60%;
  padding: 8px;
  cursor: pointer;
  opacity: .7;
  transition: .5;
}

#contato form input[type=button]:hover {
  opacity: 1;
}


/* ---------------- footer -------------- */
#footer {
  text-align: center;
  color: var(--text-tertiary);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary);
}

#footer h4 {
  margin-bottom: .5em;
}

#footer p:nth-child(2) {
  font-size: 1em;
}

#footer p {
  font-size: 0.8em;
}


@media (max-width:1200px) {
  nav {
    width: 90%;
  }
}

@media (max-width:1000px) {
  nav {
    width: 95%;
  }

  .movel-content {
    height: auto;
  }

  .marg-content {
    display: 5%;
  }

  .text-content {
    width: 65%;
  }

  .img-content {
    width: 30%;
  }

  .benefits {
    flex-wrap: wrap;
  }

  .benefit {
    margin-bottom: 50px;
  }

  #contato form {
    width: 60%;
  }
}

@media (max-width:900px) {
  .header-container {
    flex-direction: column;
    width: 60%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }

  .header-container h3 {
    margin-bottom: 1.1em;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 60px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  nav {
    display: none;
    position: absolute;
    left: 30px;
    top: 80px;
    background-color: black;
    width: auto;
    height: auto;
  }

  nav li {
    margin: 20px 40px;
  }

  nav.open {
      display: block;
  }

  /*----- images content ----*/
  .movel-content{
    flex-direction: column;
    height: auto;
  }

  .marg-content {
    display: none;
  }

  .movel-content:nth-child(2n) {
    flex-direction: column;
  }

  .text-content {
    display: flex;
    width: 90%;
    padding-right: 25px;
    height: auto;
    margin-bottom: 25px;
  }

  .img-content {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
  }

  /* ---- gallery ----- */

  .img-content img:hover {
    width: 200px;
    height: 200px;
  }

  #gallery {
    width: 100%;
  }

  .gallery-images-cozinha,
  .gallery-images-sala,
  .gallery-images-banheiro,
  .gallery-images-divisorias,
  .gallery-images-closets,
  .gallery-images-empresarial {
    margin: 0 auto;
  }

  /* ---- about section ---- */

  #sobre {
    flex-direction: column;
    height: auto;
  }

  .about-text {
    width: 90%;
    padding-right: 50px;
    margin-bottom: 25px;

  }

  #address {
    width: 80%;
    justify-content: center;
    padding-right: 50px;
    font-size: 0.9em;
    margin-bottom: 25px;
  }

  #address i {
    font-size: 3em;
    margin-right: 0.5em;
}
  
}